/* selector universal */
* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    /* no permite que se agrande la caja */
}
html{
    background-color: rgb(146, 135, 135);
}
body{
    height: 800px;
    /* altura */
    width: 1000px;
    /* ancho */
    background-color: rgb(255, 255, 255) ;
    margin: auto;
}
header{
    height: 150px;
    width: 750px;
    background-color: rgb(255, 255, 255);
}
#logo{
    height: 150px; 
    width: 333px;
    background-color: rgb(255, 255, 255);
    float:left;
}
#titulo{
    height: 150px;
    width: 333px; 
    background-color:rgb(255, 255, 255);
    float:right;
}
#titulo h1{
    color: black;
    font-size: 50px;
    text-align: center;
}
#Clima{
    height: 150px; 
    width: 334px;    
    background-color: rgb(255, 255, 255);
    float: right;
}
nav{
    height: 80px;
    width: 1000px;
    background-color: rgb(0, 207, 45);
}
nav ul{
    list-style: none; 
    margin-left: 20px;
    display: flex;
    justify-content:space-around;

} 
nav ul li{ 
    margin-right:20px;
    font-size: 20px;
    margin-top:20px;
    display: inline-block;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 10px;
    /* font-weight: bold; */
}
nav ul li a:hover{
    color:rgb(207, 207, 207);
    background-color: rgb(0, 0, 0);
}
nav img{

    width: 30px;
    height: 30px;
    margin: 0px;
   
}
main{
    height: 700px;
    background-color: rgb(254, 255, 248);
}
main div img{
    height: 700px;
    width: 1000px;
    opacity: 0.4;
    position: absolute;
}
main div h1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-align: center;
}
main div p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
}
footer{
    height: 100px;
    background: rgb(79, 68, 127);
    text-align: center;
} 