*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f39200;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: #333;
    margin-top: 50px;
}
form{    
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c6e067;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

